.gradingReviewHeading h1 {
  padding-left: 5%;
}

.registars-grading-review-table {
    float: left;
    width: 90%;
    margin: 2% 5%;
    border: none;
    border-collapse: collapse;
  }
  
  .registars-grading-review-table tr {
    width: 100%;
    text-align: center;
  }
  
  .registars-grading-review-table th {
    background-color: #7d5cc6;
    color: white;
    padding: 1% 0%;
    width: 14.29%;
  }
  
  .registars-grading-review-tabletd {
    padding: 2% 0%;
  }

  .registars-grading-review-table .warn-button-grading-review{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: purple;
  }
  
  .registars-grading-review-table .warn-button-grading-review:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: rgb(184, 42, 240);
    color: rgb(255, 255, 255);
    transition: 250ms;
  }

  .registars-grading-review-table .terminate-button-grading-review{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: purple;
  }
  
  .registars-grading-review-table .terminate-button-grading-review:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: rgb(184, 42, 240);
    color: rgb(255, 255, 255);
    transition: 250ms;
  }

  .registars-grading-review-table .delete-button-grading-review{
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: purple;
  }
  
  .registars-grading-review-table .delete-button-grading-review:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: rgb(184, 42, 240);
    color: rgb(255, 255, 255);
    transition: 250ms;
  }

  .registars-grading-review-table .all-the-buttons{
    padding-right: 42%;
  }

