.xStu th {
  background-color: #7d5cc6;
  color: white;
  padding: 2% 0%;
  width: 33%;
}

.xStu td {
  padding: 2% 0%;
}

.xStu {
  float: left;
  width: 30%;
  margin: 0% 5%;
  border: none;
  border-collapse: collapse;
}

.xStu tr {
  width: 100%;
  text-align: center;
}
.xFac th {
  background-color: #7d5cc6;
  color: white;
  padding: 2% 0%;
  width: 33%;
}

.xFac td {
  padding: 2% 0%;
}

.xFac {
  float: right;
  width: 30%;
  margin: 0% 5%;
  border: none;
  border-collapse: collapse;
}

.xFac tr {
  width: 100%;
  text-align: center;
}

.studentsRegView {
  color: #7d5cc6;
  margin-left: 25%;
  margin-bottom: 10%;
  height: 50vh;
  margin: 3%;
  float: left;
  width: 94%;
  height: calc(100% - 60px);
}

.teacherLabel {
  position: absolute;
  top: 110px;
  right: 275px;
}

.studentsRegView .studentsLabel {
  position: relative;
  left: -550px;
  color: #7d5cc6;
}

.studentsRegView h2 {
  font-size: 2rem;
  padding-bottom: 2%;
  color: #7d5cc6;
}
