
  
  .createclass-form {
    text-align: left;
  }

  .create-class .createclass-form{
    padding-left: 4%;
  }


  
  .createclass-form input {
    outline: 0;
    border-radius: 15px;
    border: 1px #d2d2d7 solid;
    width: 45%;
    margin: 10px 10px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .error {
    display: none;
    margin: 0;
    margin-bottom: 10%;
    color: red;
  }
  
  .create-page .class-button {
    text-transform: uppercase;
    outline: 0;
    border-radius: 15px;
    background: rgb(149, 9, 214);
    width: 30%;
    border: 0;
    padding: 15px;
    color: #0f0101;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    transform: translateX(112%);
  }

  .class-button:hover{
    padding: 15px;
    transition: all 0.5s ease-out;
    background: rgb(184, 42, 240);
    color: rgb(255, 255, 255);
    transition: 250ms;
  }
  .createclass-form  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .createclass-form  .message a {
    color: #0071e3;
    text-decoration: none;
  }
  .createclass-form  .register-form {
    display: none;
  }

  .create-page h1{
    padding-left: 5%;
  }

  .create-page p{
    padding-left: 5%;
  }

