  .suspendedHeading {
    float: left;
    width: 90%;
    margin: 2% 5%;
    border: none;
    border-collapse: collapse;
  }
  
  .suspendedHeading tr {
    width: 100%;
    text-align: center;
  }
  
  .suspendedHeading th {
    background-color: #7d5cc6;
    color: white;
    padding: 1% 0%;
    width: 14.29%;
  }
  
  .suspendedHeading td {
    padding: 2% 0%;
  }
  
  .suspendedStudentHeading h1,
  .suspendedStudentHeading p {
    padding-left: 5%;
  }
  
  .unsuspend-button-registrar {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    color: purple;
  }
  
  .unsuspend-button-registrar:hover {
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: rgb(184, 42, 240);
    color: rgb(255, 255, 255);
    transition: 250ms;
  }