.x th {
    background-color: #7d5cc6;
    color: white;
    padding: 2% 0%;
    width: 33%;
}

.x td {
    padding: 2% 0%;
}

.x {
    float: left;
    width: 30%;
    margin: 0% 1.5%;
    border: none;
    border-collapse: collapse;
}

.x tr {
    width: 100%;
    text-align: center;
}

.students{
    text-align: center;
    margin-left: 25%;
    margin-bottom: 10%;
    height: 50vh;
    margin: 3%;
    float: left;
    width: 94%;
}

.students h2 {
    font-size: 2rem;
    padding-bottom: 2%;
    color: #7d5cc6
}

.AboutFirstHeader {
    height: 76vh;
    display: grid;
    align-items: flex-end;
    padding: 0% 3.5% 10% 3.5%;
    background-image: url("http://www.nycbw.com/files/The-City-College-of-New-York.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-blend-mode: screen;
    background-color: rgba(255, 255, 255, 0.75);
}

.AboutFirstHeader h1, .AboutFirstHeader p {
    margin: 0;
    padding: 0;
}

.AboutFirstHeader h1 {
    margin-bottom: 3%;
    font-size: 3.2rem;
}

.AboutFirstHeader p {
    width: 60%;
    font-size: 1.1rem;
}

.AboutSecondHeader {
    font-size: 1.3rem;
    text-align: center;
    clear: both;
    height: 30vh;
    padding: 4% 0;
    margin-top: 10%;
    color: white;
    background-color: #7d5cc6;
}

.AboutSecondHeader-div {
    font-style: italic;
    width: 32%;
    float: left;
    font-size: 1.1rem;
    margin: 0% 0.25% 1% 0.25%;
}

.AboutSecondHeader-divTwo {
    font-style: italic;
    width: 50%;
    float: left;
    font-size: 1.1rem;
}

.AboutSecondHeader h2 {
    margin-bottom: 3%;
}

.AboutThirdHeader {
    padding: 3% 10%;
    height: 15vh;
}

.AboutThirdHeader div div {
    width: 25%;
    float: left;
    display: grid;
    justify-content: center;
    align-items: center;
}

.AboutThirdHeader div div h3 {
    font-size: 3.5rem;
    color: #7d5cc6;
    margin: 3% 0 0 0;
    text-align: center;
}

.AboutThirdHeader div div p {
    margin: 5.5% 0 0 0;
    text-align: center;
}

.AboutFourthHeader {
    padding: 3% 8.5%;
    height: 10vh;
}

.AboutFourthHeader .one {
    width: 30%;
    float: left;
    font-size: 1.7rem;
    font-weight: bold;
}

.AboutFourthHeader .two {
    width: 70%;
    float: left;
    font-size: 1.1rem;
    line-height: 2;
}

