.tab-list {  border-bottom: 1px solid #000;
    padding-left: 0;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: #7d5cc6;
    border: solid #000;
    border-width: 1px 1px 0 1px;
  }
  
  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }  
  
  .CourseStyler th {
    background-color: #7d5cc6;
    color: white;
    padding: 2% 0%;
    width: 20%;
  }
  
  .CourseStyler td {
    padding: 2% 0%;
  }
  
  .CourseStyler {
    float: left;
    width: 90%;
    margin: 1.5% 2.5%;
    border: none;
    border-collapse: collapse;
  }
  
  .CourseStyler tr {
    width: 100%;
    text-align: center;
  }

  /* .dd{

 } */