.tab-list {
  border-bottom: 1px solid #000;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #7d5cc6;
  border: solid #000;
  border-width: 1px 1px 0 1px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.CourseStyler th {
  background-color: #7d5cc6;
  color: white;
  padding: 2% 0%;
  width: 20%;
}

.CourseStyler td {
  padding: 2% 0%;
}

.CourseStyler {
  float: left;
  width: 99%;
  margin: 1% 0.5%;
  border: none;
  border-collapse: collapse;
}

.CourseStyler tr {
  width: 100%;
  text-align: center;
}

.Card {
  width: 300px;
  height: 480px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px;
  transition: 0.3s;
  animation: ease-in-out;
}
.Card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.upper-container {
  height: 100px;
  background: linear-gradient(to left, rgb(4, 219, 226), rgb(82, 0, 102));
}

.image-container img {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 5px;
  transform: translate(95px, 45px);
}
.image-container2 img {
  border-radius: 50%;
  display: grid;
  justify-content: center;
}
img {
  border: 2px solid rgb(64, 187, 181);
}

.lower-container {
  margin-top: 60px;
  height: 300px;
  background: white;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.lower-container h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.lower-container h3 {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.lower-container p {
  margin: 1rem;
  font-weight: 300;
  color: black;
  font-size: 0.9rem;
  text-align: justify;
}

.Card2 {
  width: 300px;
  height: 250px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 1px 10px;
  transition: 0.3s;
  animation: ease-in-out;
}
.Card2:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}
.upper-container2 {
  height: 100px;
  background: linear-gradient(to left, rgb(26, 242, 250), rgb(82, 0, 102));
}

.lower-container2 {
  margin-top: 60px;
  background: white;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}

.lower-container2 h2 {
  margin: 0;
  padding: 0;
}

.lower-container h2 {
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}

.studentPage {
  height: 90vh;
  background-image: url("http://www.nycbw.com/files/The-City-College-of-New-York.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-blend-mode: screen;
}

.Dropdown {
  float: left;
  padding: 1.25%;
}

.Display {
  position: absolute;
  float: right;
  top: 55px;
  right: 50px;
}

.MyInfo {
  float: left;
}

.rating h2 {
  margin: 50px;
  padding: 0;
  color: purple;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Titillium Web", sans-serif;
  margin-top: 60px;
  text-align: "center";
}

.button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  color: purple;
}

.button:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: rgb(184, 42, 240);
  color: rgb(255, 255, 255);
  transition: 250ms;
}

.signout {
  font-family: sans-serif;
}

.complaint h2 {
  margin: 50px;
  padding: 0;
  color: purple;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Titillium Web", sans-serif;
  margin-top: 60px;
  text-align: "center";
}

.CourseStyler-warning th {
  background-color: #7d5cc6;
  color: white;
  padding: 2% 0%;
  width: 20%;
}

.warning-page h1{
  padding-left: 5%;
}

.warning-page p{
  padding-left: 5%;
}

.CourseStyler-warning td {
  padding: 2% 0%;
}

.CourseStyler-warning {
  float: left;
  width: 99%;
  margin: 2% 0.5%;
  border: none;
  border-collapse: collapse;
}

.CourseStyler-warning tr {
  width: 100%;
  text-align: center;
}

.rate-button {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  color: purple;
}

.rate-button:hover {
  padding: 8px 20px;
  transition: all 0.3s ease-out;
  background: rgb(184, 42, 240);
  color: rgb(255, 255, 255);
  transition: 250ms;
}
/* .dd{

 } */
