.introMessage {
  font-style: italic;
  align-self: "flex-end";
  font-size: 1.2rem;
  position: relative;
  top: -125px;
  left: 1500px;
  color: black;
}

.instructorButtons button {
  font-style: times;
  align-self: "flex-end";
  font-size: 1.3rem;
  position: relative;
  top: -50px;
  left: 800px;
  color: black;
}

.tab-list {  border-bottom: 1px solid #000;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: #7d5cc6;
  border: solid #000;
  border-width: 1px 1px 0 1px;
}

.CourseStyle th {
  background-color: #7d5cc6;
  color: white;
  padding: 2% 0%;
  width: 20%;
}

.CourseStyle td {
  padding: 2% 0%;
}

.CourseStyle {
  float: left;
  width: 55%;
  margin: 0% 0.25%;
  border: none;
  border-collapse: collapse;
}

.CourseStyle tr {
  width: 100%;
  text-align: center;
}

.schedule Schedule{
  font-style: italic;
  color: white;
}

.HomePage {
  background-image: url("http://www.nycbw.com/files/The-City-College-of-New-York.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 100%;
  background-blend-mode: screen;
}

